<%- include ('partials/htmlHeader') %>
    <h1>BROWSER</h1>
    <form action="/rate/browse" method="post">
        <input type="text" name="name" placeholder="Dane nauczyciela">
        <button type="submit">Szukaj</button>
    </form>
    <%for(let i =0; i < teachers.length; i++){%>
        <div>
            <img src="<%= teachers[i].img%>" alt="photo">
            <p><%= teachers[i].pref%> <%= teachers[i].data%> <%= teachers[i].post%></p>
            <p><%= teachers[i].position%> <%= teachers[i].faculty%></p>
            <a href="/rate/profile/<%= teachers[i]._id%>">oceń</a>
        </div>
    <%}%>
<%- include ('partials/htmlFooter') %>