<%- include ('partials/htmlHeader') %>
<%- include ('partials/htmlNavbar') %>	
<div class="d-flex align-items-center min-vh-100 ">
    <div class="container">
		<div class="row h-25 justify-content-center">
			    <center><h1>Wyszukaj prowadzącego</h1></center>
		</div>
		<div class="form-floating mb-3"> 				
			<form action="/rate/browse" method="post">
				<input type="text" class="form-control" placeholder="Imię lub nazwisko" name='name' id="personalData">
				<select name="faculty" id="faculty" class="form-control">
					<%for(let i = 0; i < faculties.length; i++){%>
						<option value="<%=faculties[i]%>"><%=faculties[i]%></option>
					<%}%>
				</select>
				<select onchange="changeVisibility()" name="mode">
					<option value="data">Imie lub nazwisko</option>
					<option value="faculty">Jednostka</option>
				</select>
				<button type="submit" class="btn btn-login ZalogujSubmit">Szukaj</button>
			</form>
			
		</div>
		<%for(let i =0; i < teachers.length; i++){%>
		<div class="row justify-content-center searchResult align-items-center">
				<div class="col-md-auto">
					<img src="<%= teachers[i].img%>" alt="photo" class="img-fluid h-75">
				</div>
				<div class="col align-items-end">
				<h3><p><%= teachers[i].pref%> <%= teachers[i].data%> <%= teachers[i].post%></p>
					<p><%= teachers[i].position%> <%= teachers[i].faculty%></p>
					<br>
					<a href="/rate/profile/<%= teachers[i]._id%>"><button class="btn btn-teach btn-lg ZalogujSubmit">WYŚWIETL</button></a>
					
					<%if(currentUser){%>
					<a href="/rate/profile/<%= teachers[i]._id%>/rate"><button class="btn btn-teach btn-lg ZalogujSubmit">OCEŃ</button></a>
					<%}%>
				</div>
		</div>
		<%}%>
	</div>
</div>
<%- include ('partials/formDisplay') %>
<%- include ('partials/htmlFooter') %>