<%- include ('partials/htmlHeader') %>
<%- include ('partials/loginNavbar')%>
<div class="container">
	<%- include ('partials/success') %>
	<%- include ('partials/error') %>
</div>
<div class="d-flex align-items-center min-vh-100 grad-anim">
	<div class="container">
	  <div class="row justify-content-md-center">
		<div class="col-lg-3">
		  
		</div>
		<div class="col-lg-5">
			<span>
				<div class="borderList" style="padding: 40px">
					<form action="/login" method="POST">
						
						Login
						<div class="form-floating mb-3"> 
							<input type="text" class="form-control rounded-pill" id="floatingInput" placeholder="Login" name='username'>
							<label for="floatingInput">przyklad@email.pl</label>
						</div>
						Hasło
						<div class="form-floating mb-3">
							<input type="password" class="form-control rounded-pill" id="floatingPassword" placeholder="Password" name='password'>
							<label for="floatingPassword">Haslo</label>
						</div>
						
						<div class="container">
							<div class="row">
								<div class="col">
									<input type="checkbox" class=form-control" id="stayLogged"> Zapamiętaj hasło
								</div>
							</div>
						</div>

						<center>
							<br><button class="btn btn-teach ZalogujSubmit col-6" type="submit">Zaloguj się</button>
						</center>

					</form>
				
					<center>
						<a class="nav-link active" aria-current="page" href="/register">Nie masz konta?</a>
					</center>
				</div>
			</span>	
		</div>
		<div class="col-lg-3">
		</div>
	 </div>
	</div>
</div>

<%- include ('partials/htmlFooter') %>

