<%- include ('partials/htmlHeader') %>
<%- include ('partials/htmlNavbar') %>	

<link rel="stylesheet" href="/stylesheets/teacherProfile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<div class="d-flex align-items-center min-vh-100 ">
    <div class="container">

        <div class="row formColors justify-content-center" >
			<div class="col-md-auto">
			   <img src="<%= teacher.img%>" alt="photo" style="" class="img-fluid h-100">
			</div>
			<div class="col align-items-end ">
			<center>
				<h1><p><%= teacher.pref%> <%= teacher.data%> <%= teacher.post%></p></h1>
				<p><%= teacher.position%> <%= teacher.faculty%></p>
				
					<%if(currentUser){%>
					<a href="/rate/profile/<%= teacher._id%>/rate"><button class="btn btn-teach btn-lg ZalogujSubmit">OCEŃ</button></a>
					<%}%>			
			
			</center>
			</div>
		</div>
 		<div class="row h-50 formColors">

		<br>
        <%= votes %>
		<br><br>
		
		<br><br>
		<h1><center>
		Tłumaczenie materiału: <%= overallStats.material%>% <br>

		Punktualność wykładowcy: <%= overallStats.punctual%>% <br>

		Łatwość zaliczenia: <%= overallStats.passing%>% <br>
		</h1></center>

		</div>
		</span>
	</div>
</div>
<%- include ('partials/htmlFooter') %>