<%- include ('partials/htmlHeader') %>
    <h1>Oceniany</h1>
    <div>
        <img src="<%= teacher.img%>" alt="photo">
        <p><%= teacher.pref%> <%= teacher.data%> <%= teacher.post%></p>
        <p><%= teacher.position%> <%= teacher.faculty%></p>
    </div>
<%- include ('partials/htmlFooter') %>