<%- include ('partials/htmlHeader') %>
<link rel="stylesheet" href="/stylesheets/teacherProfile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<div class="d-flex align-items-center min-vh-100 grad-anim">
    <div class="container">
	    <div class="row h-25 justify-content-center">
			    <center><h1>Oceń prowadzącego</h1></center>
		</div>
        <div class="row formColors d-flex justify-content-center">
			<div class="col">
			   <img src="<%= teacher.img%>" alt="photo" style="float: right;">
			</div>
			<div class="col align-items-end">
				<h1><p><%= teacher.pref%> <%= teacher.data%> <%= teacher.post%></p></h1>
				<p><%= teacher.position%> <%= teacher.faculty%></p>
			</div>
		</div>
        <%if(currentUser){%>
			<a href="/rate/profile/<%=teacher._id%>/rate"> Oceń </a>
		<%}else{%>
			<a href="/login"> Zaloguj się i oceń</a>
		<%}%>
			<div class="row h-25 formColors">
				<hr>
				<h5>Komenty</h5>
				<%= votes %>
		
				<h6>Overall stats in percents</h6>
		
				<%= overallStats.material%>
				<%= overallStats.punctual%>
				<%= overallStats.passing%>
			</div>
		
	</div>
</div>
<%- include ('partials/htmlFooter') %>