<%- include ('partials/htmlHeader') %>
    <h1>Oceniany</h1>
    <div class="container">
        <div>
            <img src="<%= teacher.img%>" alt="photo">
            <p><%= teacher.pref%> <%= teacher.data%> <%= teacher.post%></p>
            <p><%= teacher.position%> <%= teacher.faculty%></p>
        </div>
        <%if(currentUser){%>
<<<<<<< Updated upstream
            <form action="/rate/<%=teacher._id%>/by/<%=currentUser._id%>" method="post">
                <div>
                    <p>Jak tłumaczy materiał</p>
                    <input type="number" name="material" id="" min="1" max="5">
                </div>
                <div>
                    <p>Jest punktualny/a</p>
                    <input type="number" name="punctual" id="" min="1" max="5">
                </div>
                <div>
                    <p>Łatwo u niego/niej zaliczyć</p>
                    <input type="number" name="passing" id="" min="1" max="5">
                </div>
=======
        <div class="row h-25 formColors">
			<form action="/rate/<%=teacher._id%>/by/<%=currentUser._id%>" method="post">
                <div class="row d-flex">
                    <div class="col-8 d-flex justify-content-end">
					Jak oceniasz tłumaczenie materiału?&nbsp&nbsp&nbsp<br>
					
				<!--	Jak tłumaczy materiał -->
					</div>
					
					<div class="w-100"></div>
					<div class="col-8">
					        <!--   <input type="number" name="material" id="" min="1" max="5"> -->
						
							<div class="star-widget">
									<input type="radio" name="material-5" id="material-rate-5">
									<label for="material-rate-5" class="fas fa-star"></label>
									<input type="radio" name="material-4" id="material-rate-4">
									<label for="material-rate-4" class="fas fa-star"></label>
									<input type="radio" name="material-3" id="material-rate-3">
									<label for="material-rate-3" class="fas fa-star"></label>
									<input type="radio" name="material-2" id="material-rate-2">
									<label for="material-rate-2" class="fas fa-star"></label>
									<input type="radio" name="material-1" id="material-rate-1">
									<label for="material-rate-1" class="fas fa-star"></label>
							</div> 
							
						
					</div>

                </div>
                <div class="row d-flex">
					<div class="col-8 d-flex justify-content-end">
					Jak oceniasz punktualność wykładowcy?
					
                    <!-- <br>Jest punktualny/a -->
					</div>
						<!--   <input type="number" name="punctual" id="" min="1" max="5"> -->
					<div class="w-100"></div>
					
					<div class="col-8">
							<div class="star-widget">
									<input type="radio" name="punctual-5" id="punctual-rate-5">
									<label for="punctual-rate-5" class="fas fa-star"></label>
									<input type="radio" name="punctual-4" id="punctual-rate-4">
									<label for="punctual-rate-4" class="fas fa-star"></label>
									<input type="radio" name="punctual-3" id="punctual-rate-3">
									<label for="punctual-rate-3" class="fas fa-star"></label>
									<input type="radio" name="punctual-2" id="punctual-rate-2">
									<label for="punctual-rate-2" class="fas fa-star"></label>
									<input type="radio" name="punctual-1" id="punctual-rate-1">
									<label for="punctual-rate-1" class="fas fa-star"></label>
							</div> 
					</div>
                </div>
                <div class="row d-flex">
				
					<div class="col-8 d-flex justify-content-end">
				<!-- <br>Łatwo u niego/niej zaliczyć -->
					Jak oceniasz łatwość zaliczenia?&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					</div>
                    
					<div class="w-100"></div>
					
					<div class="col-8">
					<!--   <input type="number" name="passing" id="" min="1" max="5"> -->
				 			<div class="star-widget">
								<input type="radio" name="pass-5" id="pass-rate-5">
								<label for="pass-rate-5" class="fas fa-star"></label>
								<input type="radio" name="pass-4" id="pass-rate-4">
								<label for="pass-rate-4" class="fas fa-star"></label>
								<input type="radio" name="pass-3" id="pass-rate-3">
								<label for="pass-rate-3" class="fas fa-star"></label>
								<input type="radio" name="pass-2" id="pass-rate-2">
								<label for="pass-rate-2" class="fas fa-star"></label>
								<input type="radio" name="pass-1" id="pass-rate-1">
								<label for="pass-rate-1" class="fas fa-star"></label>
					
							</div> 
					</div>
				</div>
>>>>>>> Stashed changes
                <div>
                    <p>Masz coś do dodania? Podziel się opinią</p>
                    <textarea name="comment" id="" maxlength="255" minlength="0" cols="80" rows="10"></textarea>
                </div>
                <button type="submit">Wyślij</button>
            </form>
        <%}%>
        <hr>
        <h5>Komenty</h5>
        <%= votes %>

        <h6>Overall stats in percents</h6>

        <%= overallStats.material%>
        <%= overallStats.punctual%>
        <%= overallStats.passing%>
    </div>
<%- include ('partials/htmlFooter') %>